header {
    width: 100vw;
    height: 80px;
    display: grid;
    padding: 0 40px;
  
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    z-index: 200;
    background: rgba(0, 0, 0, 0);
}
  
header.sticky {
    position: fixed;
    background-color: rgba(242, 245, 248, 1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    animation: dropDown 0.5s ease-in-out forwards;
}

header.open nav a {
    margin-top: 20px;
}
  
header.sticky .logo,
header.sticky nav i {
    color: #409EFF;
}

header.sticky nav a {
    color: #2b2929;
    margin-top: 20px;
}
  
@keyframes dropDown {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(0);
    }
}
  
.logo {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}
  
header {
    height: 55px;
}
  
header nav {
    justify-self: center;
    width: 100%;
}
  
header nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 24px;
    font-size: 15px;
    letter-spacing: 1px;
}
  
header nav a:hover,
header nav .active {
    color: #009fe9;
}
  
header .burger {
    display: block;
    position: absolute;
}

.login {
    position: relative;
}

.login img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
}

.login span {
    text-align: right;
    font-size: 14px;
    margin-left: 40px;
    color: #F56C6C;
    font-weight: 600;
}

